*.pyc
test.py
*.gh
.pytest_cache
*/__pycache__
.coverage
*.ipynb
.ipynb_checkpoints
.tox
*.egg-info
tox.ini
/.cache
/.vscode
.eggs
/radiance*
/tests/assets/temp/*
/tests/assets/sample_office/temp/*
*.code-workspace
honeybee.log*
tmp/
